.paginationLibrary {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  @include mq(tablet) {
      margin-top: 60px;
      margin-bottom: 60px;
  }
}

.paginationLibrary-list {
  display: flex;
  justify-content: center;

  &__item {
    display: inline-block;
    padding: 7px 8px 5px;
    @include fonts($main-font-size, 16px, $main-font-weight, inherit);
    border-radius: 5px;
    text-align: center;
    color: $font-color;
    background-color: $pag-hover-color;
    cursor: pointer;
    transition: background-color 250ms $timing-function, color 250ms $timing-function;

    @include mq(tablet){
      width: 40px;
      height: 40px;
      padding: 13px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 3px;
    @include mq(tablet) {
      margin-right: 5px;
    }
  }

  &__item--arrow {
      background-position: center;
      padding: 6px 5px 2px;
      background-color: $next-card-bg;
      @include mq(tablet) {
        padding: 12px; 
      }
  }

  &__item--active {
    color: $pag-hover-color;
    background-color: $pag-hover-bg;
  }

  &__item--smallLeftPadding {
    padding-left: 10px;
  }

  &__item:hover, &__item:focus {
    color: $pag-hover-color;
    background-color: $pag-hover-bg;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}